<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>青橙</title>
    <link rel="icon" href="../img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../css/all.css" />
    <link rel="stylesheet" type="text/css" href="../css/pages-JD-index.css" />
</head>
<body>
<p>hello</p>

<div th:text="${message}"></div>
<div id="app">
    <div v-for="item in circularlist" :key="item.id">
        <p>{{ item.title }}</p>
        <p>{{ item.url }}</p>
        <img :src="item.pic" alt="">
    </div>
</div>

<p>{{pagenum}}</p>
<div id="app">
    <h1>{{ pagenum }}</h1>
</div>

<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>

<script th:inline="javascript">
    var app = new Vue({
        el:"#app",
        data:{
            goodsList:'',
            circularlist:[],
        },
        created(){
            axios.get(`/api/checkuser/check`).then(response => {
                app.username=response.data.data;
                // alert(app.username);
                // alert(response.data.message);
                // alert(response.data.code);
                // alert(response.data.data);
            });
            axios.get(`/api/content/list/category/1`).then(response => {
                app.circularlist=response.data.data;
                app.circularlist = app.circularlist.slice(-5);
            });
        }
    })
    // new Vue({
    //     el: '#app',
    //     data(){
    //         return {
    //             pagenum:''
    //         }
    //     },
    //     created(){
    //         alert(11);
    //         axios.get('/api/sku/search/1/3').then(response => {
    //             this.pagenum=response.data.data.pageNum
    //             alert(this.pagenum)
    //         });
    //     }
    // })
</script>
</body>
</html>